Source: data-plotter
Package: data-plotter
Version: {version}
Architecture: amd64
Essential: no
Section: base
Priority: optional
Depends: {depends}
Maintainer: Jiri Maier <jiri.maier.x@gmail.com>
Description: Universal GUI for software-defined measuring instruments
Homepage: https://jirimaier.github.io/DataPlotter/
