[Desktop Entry]
Version=1.0
Type=Application
Name=Data Plotter
Comment=Universal GUI for software-defined measuring instruments
Exec=data-plotter
Icon=data-plotter
Categories=Office;
