name: Build and Deploy DataPlotter on Linux

on:
  push:
    branches:
      - main  # Run on every push to main (modify as needed)
  pull_request:
    branches:
      - main  # Run on PRs to main
  workflow_dispatch: # Manual triggering

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update && sudo apt install -y --no-install-recommends \
            qtbase5-dev \
            qtchooser \
            qtdeclarative5-dev \
            libqt5quick5 \
            libqt5quickcontrols2-5 \
            libqt5serialport5-dev \
            mesa-common-dev \
            libglu1-mesa-dev \
            qtquickcontrols2-5-dev \
            libqt5opengl5-dev \
            qt5dxcb-plugin \
            libxcb-util-dev \
            build-essential \
            cmake \
            ninja-build \
            pkg-config \
            qttools5-dev \
            qttools5-dev-tools \
            gtk-update-icon-cache \
            fuse libfuse2 \
            zsync file appstream

      - name: Build DataPlotter
        run: |
          mkdir build
          cd build
          cmake -G Ninja -DDEV_MODE=true ..
          ninja

      - name: Package Debian Package
        run: |
          python3 ./extras/deploy_debian_native/deploy.py debian

      - name: Upload Debian Package
        uses: actions/upload-artifact@v4
        with:
          name: DataPlotter-Deb-Package
          path: ./extras/deploy_debian_native/deploy/*.deb

      - name: Package AppImage
        run: |
          python3 ./extras/deploy_debian_native/deploy.py appimage

      - name: Upload AppImage
        uses: actions/upload-artifact@v4
        with:
          name: DataPlotter-AppImage
          path: ./extras/deploy_debian_native/deploy/DataPlotter*.AppImage*

      - name: Upload pkg
        uses: actions/upload-artifact@v4
        with:
          name: DataPlotter-pkg
          path: ./build/target/pkg/*.tar.xz
